{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "extensions": [".js", ".ios.js", ".android.js", ".ts"],
        "cwd": "babelrc",
        "alias": {
          "Components": "./app/components",
          "Screens": "./app/screens",
          "Config": "./app/config",
          "Classes": "./app/classes",
          "Data": "./app/data",
          "Services": "./app/services"
        }
      }
    ]
  ]
}
